* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
}

.display {
  background-color: #eee;
  height: 120px;
  width: 340px;
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border: 24px solid #666;
  text-align: right;
  font-size: 32px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 8px #666;
  width: 340px;
  gap: 6px;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-container button {
  /* padding: 20px; */
  font-size: 18px;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 20px;
  background-color: #343439;
  color: #fff;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #676768;
}
.btn-container button:active {
  background-color: #868687;
}

button[type="submit"] {
  width: 125px;
}
